/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/MrWoodGenerator.iml
/.idea/vcs.xml
/accounts.txt
